/* Compare Box */
.compareBox {
  position: absolute;
  top: -9px;
  left: 0px;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 0; /* Initially hidden */
}

/* Input and label interaction */
.compareBox input[type="checkbox"] {
  margin-right: 5px;
  cursor: pointer;
}

.compareLabel {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: color 0.2s ease;
}

.compareLabel:hover {
  color: #007bff;
}
